<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<p><%= "completed: #{@task.completed}" %></p>

<%= link_to "Go back", tasks_path %>
<%= link_to "Edit task", edit_task_path %>

<%= link_to "Delete task",
  destroy_task_path,
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
  class: "btn btn-danger" %>
